E2E_FRONTEND_URL=http://127.0.0.1:5173
E2E_BACKEND_URL=http://127.0.0.1:5000

E2E_TEACHER_EMAIL=teacher@etest.com
E2E_TEACHER_PASSWORD=replace-me

E2E_STUDENT_EMAIL=student@etest.com
E2E_STUDENT_PASSWORD=replace-me